
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
   
}
body {
    user-select: none;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
}

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
  .col {
    text-align: center;
    background-color:white;
    background-clip: content-box;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .card-link {
    display: block;
    height: auto;
    /*padding-bottom: 90%; */
    position: relative;
    overflow: hidden;
    padding: 5px;
  } /* the a */
  .card-img {
      max-width: 100%;
      height: auto;
      padding: 10px;
      
  } /* img */
  
  /* the card them style max-width:500px */